/* Error: expected "}".
 *      ,
 * 1501 | }
 *      |  ^
 *      '
 *   src\app\pages\company_onboard\page.scss 1501:2  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "}".\a      \2577 \a 1501 \2502  }\d\a      \2502   ^\a      \2575 \a   src\\app\\pages\\company_onboard\\page.scss 1501:2  root stylesheet';
}
