// .bg-gradient {
//     background: linear-gradient(135deg, #1890ff, #52c41a, #faad14);
//     background-size: 600% 600%;
//     animation: gradientAnimation 15s ease infinite;
//   }
  
//   @keyframes gradientAnimation {
//     0% { background-position: 0% 50%; }
//     50% { background-position: 100% 50%; }
//     100% { background-position: 0% 50%; }
//   }

.landing-section {
    // background-color: var(--token-7ac1099e-1a60-43ed-bc04-c0e84758bb14, #0f0f0f) !important;
    background-color: #08070e !important;
}
.pricing-cards-row {
 padding: 12px 16px;
}
@media only screen and (min-width: 320px) and (max-width: 768px) { 
.pricing-cards-row {
  max-height: 100% !important;
}
.pricing-card{
  min-width: 100% !important;
  width: 100% !important;
  max-width: 100% !important;
}
}