.fullscreen-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  /* Full viewport height */
    width: 100vw;   /* Full viewport width */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;  /* Ensure it stays on top */
    background-color: white;  /* Optional: set a background color */
  }
  